/* red-hat-display-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/red-hat-display-v21-latin-500.woff2') format('woff2'); 
}
/* red-hat-display-900 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/red-hat-display-v21-latin-900.woff2') format('woff2'); 
}

:root {
    /* Color Palette */
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;

    /* Font presets */
    --font-family: 'Red Hat Display', sans-serif;

    --font-size-4: 4.0rem;    /* 64px */
    --font-size-3: 2.5rem;    /* 40px */
    --font-size-2: 1.125rem;  /* 18px */
    --font-size-1: 1.0rem;    /* 16px */

    --letter-spacing-min: 0rem;
    --letter-spacing-max: 0.25rem;

    --font-weight-black: 900;
    --font-weight-medium: 500;

    --line-height-min: 110%;
    --line-height-mid: 140%;
    --line-height-max: 150%;

    /* Spacing Presets */
    --spacing-1: 0.25rem;    /* 4px */
    --spacing-2: 0.5rem;    /* 8px */
    --spacing-3: 1.0rem;    /* 16px */
    --spacing-4: 1.5rem;    /* 24px */
    --spacing-5: 2.0rem;    /* 32px */
    --spacing-6: 2.5rem;    /* 40px */
    --spacing-7: 3.0rem;    /* 48px */
    --spacing-8: 3.5rem;    /* 56px */
    --spacing-9: 4.0rem;    /* 64px */
    --spacing-10: 4.5rem;    /* 72px */
    --spacing-11: 5.0rem;    /* 80px */
    --spacing-12: 7.0rem;    /* 112px */
}

*, *::after, *::before { padding: 0; margin: 0; box-sizing: border-box;}

img, picture, video, canvas, svg {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

body {
    height: 100vh;

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

.logo {
    margin-top: var(--spacing-7);
}

.hero-grid {
    width: 100%;
    padding: var(--spacing-8) 0 var(--spacing-5) 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: clamp(10rem, 1.472rem + 36.387vw, 18.938rem) auto;
    row-gap: 3rem;
    column-gap: clamp(1.25rem, 0.534rem + 3.053vw, 2rem);
}

.media-wrapper--first,
.media-wrapper--second {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.media-wrapper--first {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    justify-content: flex-end;
}
.default-image--first,
.default-image--second {
}
.media-wrapper--second {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    justify-content: flex-start;
}

.hero-call {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: center;
    max-width: 448px;
    max-height: 340px;

    padding: 0 var(--spacing-5);
    gap: var(--spacing-4);

    text-align: center;
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing-min);

}
.hero__title--top {
    font-size: clamp(2.5rem, 1.972rem + 2.254vw, 4rem);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-min);
    color: var(--slate-900);
    text-wrap: balance;
}

.hero__title--bottom {
    font-size: clamp(1rem, 0.956rem + 0.188vw, 1.125rem);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-max);
    color: var(--slate-600);
    text-wrap: pretty;
}

.button-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3);
}

.button--cyan,
.button--purple {
    padding: var(--spacing-3) var(--spacing-6);
    text-decoration: inherit;
    color: var(--white);
    border-radius: 29px;

    font-family: var(--font-family);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-mid);
    letter-spacing: var(--letter-spacing-min);
    transition: background-color 0.3s ease;
}

.button--cyan { background-color: var(--cyan-600); }
.button--purple { background-color: var(--purple-600); }

.button--cyan:hover { background-color: #71C0D4; }
.button--purple:hover { background-color: #B18BDD; }

.button--cyan > span { color: var(--cyan-300); }
.button--purple > span { color: var(--purple-300); }


.features {
    padding: clamp(2rem, 0.569rem + 6.107vw, 3.5rem) 
    clamp(2rem, 1.284rem + 3.053vw, 2.75rem) 
    clamp(4rem, 3.429rem + 1.19vw, 4.5rem)
    clamp(2rem, 1.284rem + 3.053vw, 2.75rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-9);

}

.step-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ;
}
.step-count__line {
    height: var(--spacing-11);
    width: 1px;
    background-color: var(--slate-300); 
}

.step-count__number {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    position: relative;
    background-color: var(--white);

    font-family: var(--font-family);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-mid);
    letter-spacing: var(--letter-spacing-min);
    color: var(--slate-600);
    border: solid var(--slate-300) 1px;
    border-radius: 50%;
}

.grid-container {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--spacing-3);
}
.grid-container > img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.features-call {
    font-family: var(--font-family);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    max-width: clamp(31.5rem, 28.643rem + 5.952vw, 34rem);
}

.features__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.features__title--sub {
    line-height: var(--line-height-min);
    letter-spacing: var(--letter-spacing-max);
    color: var(--cyan-600);
    font-weight: var(--font-weight-black);
    font-size: clamp(0.75rem, 0.662rem + 0.376vw, 1rem);
    text-transform: uppercase;
}

.features__title--header {
    font-size: clamp(2rem, 1.824rem + 0.751vw, 2.5rem);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-min);
    letter-spacing: var(--letter-spacing-min);
    color: var(--slate-900);
    text-wrap: balance;
}

.features__text {
    font-family: var(--font-family);
    font-size: clamp(1rem, 0.956rem + 0.188vw, 1.125rem);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-max);
    color: var(--slate-600);
    letter-spacing: var(--letter-spacing-min);
}

.closing {
    width: 100%;
}

.closing-background {
    position: relative;
    z-index: 0;
    margin-top: -28px;
    background-image: url("../assets/mobile/image-footer.jpg");
    background-size: 100%;
    padding: var(--spacing-9) var(--spacing-5);
    
    font-family: var(--font-family);
    color: white;
}
.closing-call {
    position: relative;
    text-align: center;
    gap: 1.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.closing__title {
    font-weight: var(--font-weight-black);
    font-size: clamp(2rem, 1.824rem + 0.751vw, 2.5rem);
    line-height: var(--line-height-min);
}

.closing__text {
    font-weight: var(--font-weight-medium);
    font-size: clamp(1rem, 0.956rem + 0.188vw, 1.125rem);
    line-height: var(--line-height-max);
}

.image-filter {
    position: absolute;
    opacity: 87%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--cyan-600);
}

@media screen and (min-width: 768px) {

    .button-container {
        flex-direction: row;
    }
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 1.5rem;

    }
    .closing-background {
        background-image: url("../assets/tablet/image-footer.jpg");
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .closing-call {
        max-width: 504px;
    }
}

@media screen and (min-width: 57.5rem) {

    .hero-grid {
        padding: 4rem 0rem;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 360px;
        column-gap: 1.5rem;
    }
    .media-wrapper--first,
    .media-wrapper--second,
    .hero-call {
        grid-row: 1 / 2;
    }
    .hero-call { padding: 0;}

    .media-wrapper--first {grid-column: 1 / 2; }
    .media-wrapper--second {grid-column: 3 / 4; }
    .hero-call {grid-column: 2 / 3;}

    .default-image--first,
    .default-image--second {
        height: 84.166%;
    }
    .default-image--first {align-self: start;}
    .default-image--second {align-self: end;}

    .closing-background {
        background-image: url("../assets/desktop/image-footer.jpg");
        padding: 112px 32px;
        background-size: cover;
        
    }
    .closing-call {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
    }
    .closing__title {
        max-width: 25%;
        text-align: left;
    }
    .closing__text {
        max-width: 355px;
    }
}