/* red-hat-display-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/red-hat-display-v21-latin-500.woff2') format('woff2'); 
}
/* red-hat-display-900 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/red-hat-display-v21-latin-900.woff2') format('woff2'); 
}

:root {
    /* Color Palette */
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;

    /* Font presets */
    --font-family: 'Red Hat Display', sans-serif;

    --font-size-4: 4.0rem;    /* 64px */
    --font-size-3: 2.5rem;    /* 40px */
    --font-size-2: 1.125rem;  /* 18px */
    --font-size-1: 1.0rem;    /* 16px */

    --letter-spacing-min: 0rem;
    --letter-spacing-max: 0.25rem;

    --font-weight-black: 900;
    --font-weight-medium: 500;

    --line-height-min: 110%;
    --line-height-max: 140%;

    /* Spacing Presets */
    --spacing-1: 0.25rem;    /* 4px */
    --spacing-2: 0.5rem;    /* 8px */
    --spacing-3: 1.0rem;    /* 16px */
    --spacing-4: 1.5rem;    /* 24px */
    --spacing-5: 2.0rem;    /* 32px */
    --spacing-6: 2.5rem;    /* 40px */
    --spacing-7: 3.0rem;    /* 48px */
    --spacing-8: 3.5rem;    /* 56px */
    --spacing-8: 4.0rem;    /* 64px */
    --spacing-10: 4.5rem;    /* 72px */
    --spacing-11: 5.0rem;    /* 80px */
    --spacing-12: 7.0rem;    /* 112px */
}

*, *::after, *::before { padding: 0; margin: 0; box-sizing: border-box;}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

body {
    height: 100vh;

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

.logo {
    padding-top: var(--spacing-7);
}

.hero {
    padding: var(--spacing-8) 0 var(--spacing-5) 0;
    gap: var(--spacing-7);
}
.hero-call {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 var(--spacing-5);
    gap: var(--spacing-4);
    text-align: center;
}
.hero__title--top {
    font-family: var(--font-family);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-min);
    letter-spacing: var(--letter-spacing-min);
    color: var(--slate-900);
}

.hero__title--bottom {
    font-family: var(--font-family);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-min);
    letter-spacing: var(--letter-spacing-min);
    color: var(--slate-600);
}

.button-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3);
}

.button--cyan,
.button--purple {
    padding: var(--spacing-3) var(--spacing-6);
    text-decoration: inherit;
    color: var(--white);
    border-radius: 29px;

    font-family: var(--font-family);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-max);
    letter-spacing: var(--letter-spacing-min);
}

.button--cyan { background-color: var(--cyan-600); }
.button--purple { background-color: var(--purple-600); }

.button--cyan > span { color: var(--cyan-300); }
.button--purple > span { color: var(--purple-300); }


.features {
    padding: var(--spacing-5) var(--spacing-5) var(--spacing-8) var(--spacing-5);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.step-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step-count__number::before { /* swap for a line I think, this isn't worth it */
    content: '';
    height: var(--spacing-11);
    width: 1px;
    background-color: var(--slate-300); 
    position: absolute;
    bottom: 100%;
}

.step-count__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    position: relative;

    font-family: var(--font-family);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-max);
    letter-spacing: var(--letter-spacing-min);
    color: var(--slate-600);
    border: solid var(--slate-300) 1px;
    border-radius: 50%;
}